/** @format */
body {
  background: #f6f8fa;
  font-family: Roboto;
  font-size: 0.96rem;
  line-height: 1.3rem;
}
.container a.navbar-brand {
  color: #43c4c5;
  font-weight: 600px;
}
.nva {
  font-size: 13px;
  padding: 5px 0;
  background: #43c4c5;
}
.nar .nav-link,
.nva,
.nva a {
  color: #fff;
}
.nvb {
  padding: 30px 0;
  background: #fff;
}
.ct {
  position: relative;
  top: -12px;
  font-size: 10px;
  left: -12px;
  border-radius: 50%;
}
.nv2 {
  font-size: 0.9rem;
  text-transform: uppercase;
}
.nv2 li {
  margin-right: 10px;
}
a.nav-link {
  color: #ccc;
}
.cc {
  position: relative;
  top: -4px;
  color: #ccc;
  font-size: 0.9rem;
}
.nvc {
  border-top: solid 1px #f3f3f3;
  background: #fff;
  border-bottom: solid 1px #f3f3f3;
}
.breadcrumb {
  background: #fff;
  padding: 10px 0;
  margin: 0;
  font-size: 13px;
}
.nvc,
.nvc a {
  color: #333;
}
.rego {
  font-size: 24px;
  font-weight: bold;
}
.btn-info {
  background-color: #43c4c5;
  border: solid 1px #43c4c5;
}
.nobor .btn,
.nobor select {
  border-radius: 0;
  font-size: 0.8rem;
}
.nobor .btn-info {
  text-transform: uppercase;
}
.tt {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.rlt {
  border: none;
}
.rlt img {
  border-radius: 0;
}
.rlt .card-body {
  padding: 0;
  margin: 0;
}
.rlt .card-title {
  padding: 10px 0 5px 0;
  font-size: 0.99rem;
  margin: 0;
}
.card-deck {
  padding-bottom: 30px;
}
.rgo2 {
  color: #1daaa3;
  font-size: 0.9rem;
}
.fta {
  padding-top: 15px;
}
.ftb {
  border-top: solid 1px #f3f3f3;
  padding-top: 10px;
  margin-bottom: 30px;
  font-size: 0.85rem;
}
.ftb a {
  color: #ccc;
}
.sgb input {
  font-size: 0.9rem;
  border-radius: 0;
}
.card-deck,
.card {
  z-index: 10;
}

/** users **/
.scx .card {
  border: solid 1px #fff;
  padding: 15px;
}
.scx .card h3,
h3 {
  font-size: 1.5rem;
}
.scx .card h5 {
  font-size: 0.95rem;
  color: #666;
}
.scx i {
  font-size: 46px;
  color: #eee;
}
.table-striped tbody tr:nth-of-type(2n + 1) {
  background-color: #fefefe;
}
.stxc {
  width: 100px;
  padding: 1px 6px;
}
.sxsfs .btn {
  padding: 1px 5px;
  font-size: 0.8rem;
}

.crsecrd {
  border: none;
}
.imsx img {
  border-radius: 5px;
}
.crsecrd h3 {
  font-size: 1.1rem;
  padding: 0;
  text-transform: uppercase;
  color: #333;
}
.crsecrd p {
  font-size: 0.9rem;
  color: #999;
}
.btn-xs {
  padding: 2px 10px;
  font-size: 0.8rem;
}

.crsdt .card {
  border: none;
}
.form-group input,
.form-group textarea {
  border-radius: 0;
  font-size: 0.86rem;
}
.card-header {
  padding: 0;
  margin: 0 0 15px 0;
  background: #fff;
}
h5 {
  font-size: 1rem;
  text-transform: uppercase;
}
.table thead th {
  vertical-align: middle;
  border: none;
}
.table th,
.table td {
  border: none;
  padding: 8px 10px;
}
.card {
  border: none;
}
