<template>
  <section>
    <nav class="navbar p0 m0 nvc">
      <div class="container p0 m0">
        <div class="d-flex justify-content-between p0 m0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">
                  <i class="mdi mdi-home"></i>
                  Dashboard
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">
                  Manage Users
                </a>
              </li>
            </ol>
          </nav>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-none d-md-block">
            <ul class="nav ">
              <li class="nav-item">
                <div class="btn btn-info btn-sm">
                  <i class="mdi mdi-plus"></i>
                  Add User
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
      <div class="row scx">
        <div v-for="u in users.stats" :key="u.title" class="col-lg-3">
          <div class="card">
            <div class="card-content">
              <div class="d-flex justify-content-between">
                <div class="flex">
                  <h3>{{ u.count }}</h3>
                  <h5>{{ u.title }} Users</h5>
                </div>
                <div class="flex">
                  <i :class="'mdi ' + u.icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- crot -->
    <div class="container mt-3">
      <div class="row scx2">
        <div class="col-lg-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Fullname</th>
                <th scope="col">Email</th>
                <th scope="col" style="width:120px">Status</th>
                <th scope="col" style="width:120px">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(us, i) in users.results" :key="us.name">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ us.name }}</td>
                <td>{{ us.email }}</td>
                <td class="text-sm sxsfs">
                  <b-dropdown
                    :text="us.status"
                    class="stxc"
                    size="sm"
                    variant="info"
                  >
                    <b-dropdown-item>Inactive</b-dropdown-item>
                    <b-dropdown-item>Suspend</b-dropdown-item>
                  </b-dropdown>
                </td>
                <td>
                  <div class="btn btn-xs bg-light">
                    <i class="mdi mdi-pencil"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-12">
          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      users: {
        stats: [
          { title: 'Total', count: 125, icon: 'mdi-account-outline' },
          { title: 'Active', count: 102, icon: 'mdi-account-check-outline' },
          { title: 'Inactive', count: 15, icon: 'mdi-account-key-outline' },
          { title: 'Suspend', count: 3, icon: 'mdi-account-lock-outline' }
        ],
        results: [
          { name: 'John Hopkin', email: 'john@fitfull.co', status: 'active' },
          { name: 'Emily Clark', email: 'emil@fitfull.co', status: 'active' },
          {
            name: 'Sutopo Sugeng',
            email: 'sugeng@fitfull.co',
            status: 'inactive'
          },
          {
            name: 'Jiancuk Koen',
            email: 'jiancuk@fitfull.co',
            status: 'active'
          },
          { name: 'John Hopkin', email: 'john@fitfull.co', status: 'active' },
          { name: 'Emily Clark', email: 'emil@fitfull.co', status: 'active' },
          {
            name: 'Sutopo Sugeng',
            email: 'sugeng@fitfull.co',
            status: 'inactive'
          },
          {
            name: 'Jiancuk Koen',
            email: 'jiancuk@fitfull.co',
            status: 'active'
          }
        ]
      }
    }
  }
}
</script>

<style scoped></style>
