<template>
  <section>
    <nav class="navbar p0 m0 nvc">
      <div class="container p0 m0">
        <div class="d-flex justify-content-between p0 m0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">
                  <i class="mdi mdi-home"></i>
                  Dashboard
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">
                  My Courses
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-4 scx">
          <div v-for="u in courses.stats" :key="u.title" class="mb-3">
            <div class="card">
              <div class="card-content">
                <div class="d-flex justify-content-between">
                  <div class="flex">
                    <h3>{{ u.count }}</h3>
                    <h5>{{ u.title }}</h5>
                  </div>
                  <div class="flex">
                    <i class="mdi mdi-clipboard-file-outline"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row crse">
            <div v-for="c in [1, 2]" :key="c" class="col-lg-12">
              <div class="card crsecrd p-3 mb-3">
                <div class="d-flex bd-highlight">
                  <div class="imsx mr-3 pt-2">
                    <img
                      src="https://images.unsplash.com/photo-1518611012118-696072aa579a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                      width="110"
                    />
                  </div>
                  <div class="flex-fill">
                    <b-link to="/courses/c1">
                      <h3>Course Title Goes Here Ipsum</h3>
                    </b-link>
                    <p>
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                      sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                      magna aliquam erat volutpat
                    </p>

                    <div class="d-flex text-muted">
                      <div class="flex mr-2">
                        <div class="btn btn-xs bg-light">
                          4 Phases
                        </div>
                      </div>
                      lsls
                      <div class="flex mr-2">
                        <div class="btn btn-xs bg-success text-white">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </div>
                      </div>
                      <div class="flex mr-2">
                        <div class="btn btn-xs bg-warning">
                          <i class="mdi mdi-clock-alert-outline"></i>
                        </div>
                      </div>
                      <div class="flex mr-2">
                        <div class="btn btn-xs bg-light">
                          <i class="mdi mdi-alert-circle-outline"></i>
                        </div>
                      </div>
                      <div class="flex mr-2">
                        <div class="btn btn-xs bg-light">
                          <i class="mdi mdi-alert-circle-outline"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row scx">
            <div class="col-lg-12">
              <b-pagination
                v-model="currentPage"
                :total-rows="rows"
                :per-page="perPage"
                aria-controls="my-table"
              ></b-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      courses: {
        stats: [
          { title: 'Total', count: 4, icon: 'mdi-account-outline' },
          { title: 'Ongoing', count: 5, icon: 'mdi-account-check-outline' },
          { title: 'Accomplished', count: 1, icon: 'mdi-account-key-outline' }
        ]
      }
    }
  }
}
</script>

<style scoped></style>
