<template>
  <div class="ctx">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img src="/assets/img/logo2.png" width="90%" />
        </div>
        <div class="col-lg-12">
          <div class="card px-4 py-4">
            <h1>Welcome to Jumpsuit Moms</h1>
            <p>
              Log into your account to start your 60 day bootcamp
            </p>
            <p class="text-muted">
              <em>use the same email used while placing the order</em>
            </p>

            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>
              <button type="submit" class="btn-block btn btn-info">
                <i class="mdi mdi-login"></i>
                Get Started
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'login'
}
</script>
<style scoped>
.container {
  max-width: 430px;
  min-width: 330px;
  margin: 0 auto;
}
.ctx {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 100vh;
}
.ctx h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
</style>
