<template>
  <section>
    <nav class="navbar p0 m0 nvc">
      <div class="container p0 m0">
        <div class="d-flex justify-content-between p0 m0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">
                  <i class="mdi mdi-home"></i>
                  Dashboard
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">
                  Profile
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row mt-3">
        <div class="col-lg-12">
          <div class="card p-3">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="email" class="form-control" />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Fullname</label>
                <input type="email" class="form-control" />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>
              <button type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {}
</script>

<style></style>
