<template>
  <footer class="footer">
    <div class="container">
      <div class="fta">
        <div class="d-flex justify-content-between ftb">
          <ul class="nav">
            <li class="menu-item menu-item-type-custom mr-2">
              <a href="https://konverzi.com">Konverzi Development</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>
