<template>
  <div>
    <nav class="navbar nva">
      <div class="container">
        <div class="d-flex justify-content-between p0 m0">
          <!-- xxx -->
          Hello {user-name}
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-none d-md-block">
            <ul class="nav nar">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="mdi mdi-power"></i> Logout
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <nav class="nvb navbar navbar-expand-md px-3 navbar-light">
      <div class="container p0 m0">
        <a class="navbar-brand" href="#">
          <img src="/assets/img/logo2.png" height="60" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul v-if="role === 'admin'" class="nv2 navbar-nav mr-auto">
            <li class="nav-item">
              <b-link to="/" class="nav-link">
                <i class="mdi mdi-monitor-dashboard"></i>
                Dashboard
              </b-link>
            </li>
            <li class="nav-item">
              <b-link to="/courses" class="nav-link">
                <i class="mdi mdi-clipboard-list"></i>
                Manage Course
              </b-link>
            </li>
            <li class="nav-item">
              <b-link to="/users" class="nav-link">
                <i class="mdi mdi-account-group"></i>
                Users
              </b-link>
            </li>
            <li class="nav-item">
              <b-link to="/landingpages" class="nav-link">
                <i class="mdi mdi-card-text-outline"></i>
                Landing Page
              </b-link>
            </li>
            <!--
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Landing Page
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Promo Khusus Member</a>
							<a class="dropdown-item" href="#">Promo Liburan</a>
						</div>
					</li>
					-->
          </ul>
          <ul v-else class="nv2 navbar-nav mr-auto">
            <li class="nav-item">
              <b-link to="/" class="nav-link">
                <i class="mdi mdi-clipboard-multiple-outline"></i>
                My Course
              </b-link>
            </li>
            <li class="nav-item">
              <b-link to="/profile" class="nav-link">
                <i class="mdi mdi-account-circle"></i>
                My Profile
              </b-link>
            </li>
          </ul>
          <!--
          <div class="nr">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item mr-3">
                <i class="mdi mdi-magnify text-muted mdi-24px"></i>
              </li>
            </ul>
          </div>
          -->
        </div>
      </div>
    </nav>
  </div>
</template>
<script>
export default {
  data() {
    return {
      role: 'user'
    }
  }
}
</script>
