<template>
  <section>
    <nav class="navbar p0 m0 nvc">
      <div class="container p0 m0">
        <div class="d-flex justify-content-between p0 m0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">
                  <i class="mdi mdi-home"></i>
                  Dashboard
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">
                  Manage Courses
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
      <div class="row crsdt">
        <div class="col-lg-4">
          <div class="card p-3">
            <form>
              <div class="form-group">
                <label for="">Image</label>
                <div class="p2 mb-2">
                  <img
                    src="https://images.unsplash.com/photo-1518611012118-696072aa579a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    width="100%"
                  />
                </div>
                <div class="form-group">
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01"
                    />
                    <label class="custom-file-label" for="inputGroupFile01"
                      >Choose file</label
                    >
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="">Title</label>
                <input type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label for="">Short Description</label>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-sm btn-info">
                <i class="mdi mdi-content-save-outline"></i>
                Save
              </button>
            </form>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="d-flex justify-content-between mb-3">
            <div class="d-flex justify-content-between">
              <h3>Assignments</h3>
            </div>
            <div class="d-flex justify-content-between">
              <div class="btn btn-info btn-sm">
                <i class="mdi mdi-plus"></i>
                Add Week
              </div>
            </div>
          </div>
          <div class="card p-3">
            <div class="card-header">
              <h5>Week 1</h5>
            </div>
            <div class="card-content">
              <form>
                <div class="form-group">
                  <label for="">Heading</label>
                  <input
                    type="text"
                    class="form-control"
                    value="Welcome to phase 1"
                  />
                </div>
                <div class="form-group">
                  <label for="">Description</label>
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="5"
                  >
Your assessment has been submitted to a coach for review.
you'll get a notification once week 1 is unlocked or should we need any additional information from you in order to proceed.
please allow up to 48 hours for review </textarea
                  >
                </div>
              </form>
            </div>
          </div>

          <div class="mt-3 card p-3">
            <div class="card-header">
              <h5>Week 2</h5>
            </div>
            <div class="card-content">
              <form>
                <div class="form-group">
                  <label for="">Heading</label>
                  <input
                    type="text"
                    class="form-control"
                    value="Welcome to phase 2"
                  />
                </div>
                <div class="form-group">
                  <label for="">Description</label>
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="5"
                  >
Your assessment has been submitted to a coach for review.
you'll get a notification once week 1 is unlocked or should we need any additional information from you in order to proceed.
please allow up to 48 hours for review </textarea
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>

<style scoped></style>
